# VISION Model
VISION_MODEL_URL=https://ark.cn-beijing.volces.com/api/v3
VISION_MODEL_NAME=ep-20260626204614-tq4fx
VISION_MODEL_KEY=

# IMAGE Model
IMAGE_MODEL_URL=https://ark.cn-beijing.volces.com/api/v3/images/generations
IMAGE_MODEL_NAME=ep-20260628024357-bzk9z
IMAGE_MODEL_KEY=

# EMBEDDING Model
EMBEDDING_MODEL_URL=https://api.siliconflow.cn/v1/embeddings
EMBEDDING_MODEL_NAME=Qwen/Qwen3-VL-Embedding-8B
EMBEDDING_MODEL_KEY=
KNOWLEDGE_DOC_DIR=resources/knowledge_doc
RAG_CHUNK_SIZE=900
RAG_CHUNK_OVERLAP=120

# SMALL Model
SMALL_MODEL_URL=https://api.deepseek.com
SMALL_MODEL_NAME=deepseek-v4-flash
SMALL_MODEL_KEY=

# LARGE Model
LARGE_MODEL_URL=https://api.deepseek.com
LARGE_MODEL_NAME=deepseek-v4-pro
LARGE_MODEL_KEY=

# Tavily Search
TAVILY_API_KEY=

# Baidu Agent Search
BAIDU_SEARCH_API_KEY=

# Aliyun Agent Search
ALIYUN_SEARCH_API_KEY=

# MySQL
MYSQL_HOST=110.41.166.11
MYSQL_PORT=3306
MYSQL_DATABASE=yaai_db
MYSQL_USERNAME=failedman
MYSQL_PASSWORD=
MYSQL_CHARSET=utf8mb4
MYSQL_POOL_SIZE=10

# Redis
REDIS_HOST=119.45.144.186
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=

# Neo4j
NEO4J_URI=bolt://110.41.166.11:7687
NEO4J_USERNAME=failedman
NEO4J_PASSWORD=
NEO4J_DATABASE=neo4j

# RabbitMQ
RABBITMQ_HOST=110.41.166.11
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=failedman
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/

# Aliyun OSS
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_ENDPOINT=oss-cn-chengdu.aliyuncs.com
ALIYUN_OSS_BUCKET=zxydata
ALIYUN_OSS_REGION=cn-chengdu
ALIYUN_OSS_BASE_URL=https://zxydata.oss-cn-chengdu.aliyuncs.com/
ALIYUN_OSS_PREFIX=yaai-agent/

# Email
QQ_EMAIL_HOST=smtp.qq.com
QQ_EMAIL_USERNAME=2943557332@qq.com
QQ_EMAIL_AUTH=
QQ_EMAIL_PORT=587

# QQ Bot
QQ_BOT_APPID=1904041535
QQ_BOT_APPSECRET=

# Agent Token
X-AGENT-TOKEN=
